<div class="rounded-4 p-3 h-100" [class]="classes()" [style.background-color]="background()">
    <div class="d-flex">
        <aside class="flex-fill">
            <p class="my-4 font_size__13 pe-3"> {{title() | translate}} </p>
        </aside>
        <aside class="text-end">
            <p-avatar icon="pi pi-{{icon()}}" styleClass="mr-2" size="large"
                [style]="{ 'background-color':iconBg(), color: iconColor() }" shape="circle" />
            <p class="h6 mt-3"> {{value()}} </p>
        </aside>
    </div>
</div>