<div class="row mb-4">
    <aside class="col-md-4">
        <app-statistic-card classes="shadow text-dark" title="openTickets" [value]="ticketsStoreQuery.metrics?.open??0" icon="lock-open" background="var(--surface-0)" iconColor="var(--orange-500)" iconBg="var(--orange-100)"></app-statistic-card>
    </aside>
    <aside class="col-md-4">
        <app-statistic-card classes="shadow text-dark" title="closeTickets" [value]="ticketsStoreQuery.metrics?.close??0" icon="lock" background="var(--surface-0)" iconColor="var(--blue-500)" iconBg="var(--blue-100)"></app-statistic-card>
    </aside>
    <aside class="col-md-4">
        <app-statistic-card classes="shadow text-dark" title="processingTickets" [value]="ticketsStoreQuery.metrics?.open??0" icon="microchip" background="var(--surface-0)" iconColor="var(--purple-500)" iconBg="var(--purple-100)"></app-statistic-card>
    </aside>
</div>
<app-show-table 
[rows]="rows()" 
[isLoading]="isLoading()" 
[columns]="columns" 
[totalRecords]="totalRecords()" 
[isExporting]="isExporting()"
[showImport]="false" 
[actions]="actions"
route="/{{ERoutes.ticket}}"
[(filter)]="filter"
(filterChange)="getPolicies()" 
(onExport)="exportPolicies()">
    <ng-container ngProjectAs="filters">
        <p-dropdown (onChange)="getPolicies()" [(ngModel)]="filter.type" styleClass="me-2" [options]="types" optionLabel="label" optionValue="id" placeholder="{{'filter' | translate}}">
            <ng-template pTemplate="dropdownicon">
                <i class="pi pi-filter"></i>
            </ng-template>
            <ng-template let-selectedItem pTemplate="selectedItem">
                {{selectedItem.label | translate}}
            </ng-template>
            <ng-template let-item pTemplate="item">
                {{item.label | translate}}
            </ng-template>
        </p-dropdown>
    </ng-container>
    <ng-template #itemsTemplate let-item="item">
        <td> {{item.id}} </td>
        <td> {{item.username}} </td>
        <td> {{item.subject}} </td>
        <td> {{item.createdDate | date}} </td>
        <td> <app-base-badge-component [colorVar]="ticketStatusBadge[item.status].color"> {{ticketStatusBadge[item.status].label | translate}} </app-base-badge-component> </td>
    </ng-template>
</app-show-table>