<app-show-table 
[rows]="rows()" 
[isLoading]="isLoading()" 
[columns]="columns" 
[isActions]="true" 
[actions]="actions"
[totalRecords]="totalRecords()" 
[isExporting]="isExporting()"
[showImport]="false" 
route="/{{ERoutes.client}}"
[(filter)]="filter"
(onDelete)="deleteItem($event)" 
(filterChange)="getClients()" 
(onExport)="exportClients()">
    <!-- <ng-container ngProjectAs="filters">
        <p-dropdown styleClass="me-2" [options]="[1,2]" placeholder="{{'filter' | translate}}" [showClear]="true">
            <ng-template pTemplate="dropdownicon">
                <i class="pi pi-filter"></i>
            </ng-template>
        </p-dropdown>
    </ng-container> -->
    <ng-template #itemsTemplate let-item="item">
        <td> {{item.id}} </td>
        <td> {{item.fullName}} </td>
        <td> {{item.email}} </td>
        <td> {{item.phoneNumber}} </td>
        <td> {{item.nationalId}} </td>
    </ng-template>
</app-show-table>