<app-show-table 
    [rows]="rows()" 
    [columns]="columns"
    [isActions]="true"
    [actions]="actions">
    <ng-container ngProjectAs="filters">
        <p-dropdown 
        styleClass="me-2"
        [options]="[1,2]" 
        placeholder="{{'filter' | translate}}"
        [showClear]="true">
        <ng-template pTemplate="dropdownicon">
            <i class="pi pi-filter"></i>
        </ng-template>
    </p-dropdown>
    </ng-container>
    <ng-template #itemsTemplate let-item="item">
        <td> {{item.id}} </td>
        <td> {{item.id}} </td>
        <td> {{item.id}} </td>
        <td> {{item.id}} </td>
        <td> {{item.id}} </td>
    </ng-template>
</app-show-table>