<app-show-table 
[rows]="rows()" 
[isLoading]="isLoading()" 
[columns]="columns" 
[actions]="actions"
[totalRecords]="totalRecords()" 
[isExporting]="isExporting()"
[showImport]="false" 
route="/{{ERoutes.client}}"
[(filter)]="filter"
(onDelete)="deleteItem($event)" 
(filterChange)="getClients()" 
(onExport)="exportClients()">
    <ng-template #itemsTemplate let-item="item">
        
        <td> {{item.fullName}} </td>
        <td> {{item.email}} </td>
        <td> {{item.phoneNumber}} </td>
        <td> {{item.nationalId}} </td>
    </ng-template>
</app-show-table>