<div class="user_form bg-white p-4 shadow rounded-4">
    <app-loading-content-component [loading]="isLoading()">
        <h6 class="h6 mb-5"> {{titleMap[type] | translate}} </h6>
        <div class="mb-3">
            <app-base-label-component for="emailInput" classes="form-label" [required]="true"> {{'username' |
                translate}} </app-base-label-component>
            <input [formControl]="fullName" type="text" class="form-control" id="emailInput">
            @if(fullName.invalid && fullName.touched){
            <app-input-validation-alert-component> {{'errors.required' | translate}}
            </app-input-validation-alert-component>
            }
        </div>
        <div class="mb-3">
            <app-base-label-component for="emailInput" classes="form-label" [required]="true"> {{'email' | translate}}
            </app-base-label-component>
            <input [formControl]="email" type="email" class="form-control" id="emailInput">
            @if(email.invalid && email.touched){
            <app-input-validation-alert-component> {{'errors.email' | translate}}
            </app-input-validation-alert-component>
            }
        </div>

        @if(type === EShowTableActions.create) { <app-base-button-component (clicked)="addUser()"
            [loading]="isProcessing()" [disabled]="form.invalid" classes="btn-primary rounded-pill font_size__13 shadow px-3"> {{'add' | translate
            }} </app-base-button-component>}
        @if(type === EShowTableActions.update) {<app-base-button-component (clicked)="updateUser()"
            [loading]="isProcessing()" [disabled]="form.invalid || form.pristine" classes="btn-primary rounded-pill font_size__13 shadow px-3"> {{'edit' |
            translate }} </app-base-button-component>}

    </app-loading-content-component>
</div>