<div class="mb-3">
    <app-base-label-component for="titleAr" classes="form-label"> {{'websiteTitleAr' | translate}} </app-base-label-component>
    <input type="text" id="titleAr" class="form-control">
</div>
<div class="mb-3">
    <app-base-label-component for="titleEn" classes="form-label"> {{'websiteTitleEn' | translate}} </app-base-label-component>
    <input type="text" id="titleEn" class="form-control">
</div>
<div class="mb-3">
    <app-base-label-component for="descAr" classes="form-label"> {{'websiteDescAr' | translate}} </app-base-label-component>
    <input type="text" id="descAr" class="form-control">
</div>
<div class="mb-3">
    <app-base-label-component for="descEn" classes="form-label"> {{'websiteDescEn' | translate}} </app-base-label-component>
    <input type="text" id="descEn" class="form-control">
</div>
<app-base-button-component classes="btn btn-primary font_size__13 px-4"> {{'save' | translate}} </app-base-button-component>