<div class=" bg-white p-4 shadow rounded-4">
    <div class="mb-3">
        <app-base-label-component for="titleAr" classes="form-label"> {{'titleAr' | translate}}
        </app-base-label-component>
        <input type="text" id="titleAr" class="form-control">
    </div>
    <div class="mb-3">
        <app-base-label-component for="titleEn" classes="form-label"> {{'titleEn' | translate}}
        </app-base-label-component>
        <input type="text" id="titleEn" class="form-control">
    </div>
    <div class="mb-3">
        <app-base-label-component for="descAr" classes="form-label"> {{'contentAr' | translate}}
        </app-base-label-component>
        <p-editor dir="ltr" [style]="{ height: '200px' }" />
    </div>
    <div class="mb-3">
        <app-base-label-component for="descEn" classes="form-label"> {{'contentEn' | translate}}
        </app-base-label-component>
        <p-editor dir="ltr" [style]="{ height: '200px' }" />
    </div>
    <app-base-button-component classes="btn btn-primary font_size__13 px-4"> {{'save' | translate}}
    </app-base-button-component>
</div>