<div>
    <div class="row">
        <aside class="col-md-4 my-3">
            <app-statistic-card title="totalDocs" [value]="200" background="var(--blue-300)"></app-statistic-card>
        </aside>
        <aside class="col-md-4 my-3">
            <app-statistic-card title="docsTotalValue" [value]="200" background="var(--orange-500)"></app-statistic-card>
        </aside>
        <aside class="col-md-4 my-3">
            <app-statistic-card title="tplCount" [value]="200" background="var(--cyan-300)"></app-statistic-card>
        </aside>
        <aside class="col-md-4 my-3">
            <app-statistic-card title="tplValue" [value]="200" background="var(--cyan-800)"></app-statistic-card>
        </aside>
        <aside class="col-md-4 my-3">
            <app-statistic-card title="comprehensiveTotal" [value]="200" background="var(--gray-900)"></app-statistic-card>
        </aside>
        <aside class="col-md-4 my-3">
            <app-statistic-card title="comprehensiveValue" [value]="200" background="var(--green-700)"></app-statistic-card>
        </aside>
        <aside class="col-md-4 my-3">
            <app-statistic-card title="clientsTotal" [value]="200" background="var(--gray-500)"></app-statistic-card>
        </aside>
        <aside class="col-md-4 my-3">
            <app-statistic-card title="clientsWithBuy" [value]="200" background="var(--red-800)"></app-statistic-card>
        </aside>
        <aside class="col-md-4 my-3">
            <app-statistic-card title="openTickets" [value]="200" background="var(--blue-900)"></app-statistic-card>
        </aside>
    </div>
</div>