<app-show-table 
    [rows]="rows()" 
    [columns]="columns"
    [actions]="actions"
    (editClicked)="showDialog.set(true)">
    <ng-container ngProjectAs="buttons">
        <app-base-button-component classes="btn btn-primary me-1 btn-sm font_size__12 px-3 py-2 rounded-3" icon="plus-circle"> {{ 'addCoupon' | translate }}</app-base-button-component>
    </ng-container>
    <ng-template #itemsTemplate let-item="item">
        
        
        
        
    </ng-template>
</app-show-table>

<app-dialog-component [(visible)]="showDialog">
    <app-promo-code-form></app-promo-code-form>
</app-dialog-component>